# Gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
out/
bin/

# Forge / Minecraft
run/
libs/
*.log

# OS
Thumbs.db
.DS_Store

# Misc
mixin.refmap.json
